<!-- 로그인 페이지 html 입니다.-->
<!DOCTYPE HTML>
<!-- 타임리프를 사용하기 위한 설정이다 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--부트스트랩 css를 사용하여 사이트를 깔끔하게 만든다 -->
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">

    <!--아이디,비밀번호를 입력하는 공간을 위한 스타일 설정이다.  -->
    <style>
        .container {
        max-width: 560px;
        }
        .field-error {
        border-color: #dc3545;
        color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>
    <h4 class="mb-3">회원 정보 입력</h4>

    <!-- 모델로 넘긴 loginFormat을 가져온다. post로 전송하는 영역이다 -->
    <form action="" th:action th:object="${loginFormat}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <!--'아이디나 비밀번호가 같지 않습니다.' 같은 전체 오류 메시지를 출력한다.-->
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        <div>
            <!-- 아이디를 입력하는 공간이다. -->
            <label for="id">아이디</label>
            <!-- 에러 발생시 errorclass를 field-error로 변경한다. 따라서 스타일이 변경된다. -->
            <input type="text" id="id" th:field="*{id}" class="formcontrol"
                   th:errorclass="field-error">
            <!-- 에러메시지를 출력한다 -->
            <div class="field-error" th:errors="*{id}" />
        </div>
        <div>
            <!-- 비밀번호를 입력하는 공간이다. -->
            <label for="password">비밀번호</label>
            <!-- 에러 발생시 errorclass를 field-error로 변경한다. 따라서 스타일이 변경된다. -->
            <input type="password" id="password" th:field="*{password}"
                   class="form-control"
                   th:errorclass="field-error">
            <!-- 에러메시지를 출력한다 -->
            <div class="field-error" th:errors="*{password}" />
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <!-- 로그인 버튼 클릭시 /login으로 post 요청을 전송한다 -->
                <button class="w-100 btn btn-primary btn-lg" type="submit">로그인</button>
            </div>
            <div class="col">
                <!-- 취소 버튼 클릭시 /로 이동한다 -->
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='@{/}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>